name: Snap Builder

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allow manual trigger
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build snap
        uses: snapcore/action-build@v1
        id: build

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.build.outputs.snap }}
          path: ${{ steps.build.outputs.snap }}
